.card {
    text-align: center;
    padding: 10vh 5vw 5vh 5vw;
    font-family: var(--primary-font);
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}.card h1 {
    color: var(--purple);
    font-size: 45px;
}
.card .card-image-container {
    display: flex;
    gap: 3%;  
    row-gap: 50px;  
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
}
.card .card-image-container .cardItem{
    /* border: 1px solid #ccc; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 6px 6px;
    width: 31%;
    min-width: 340px;
}
.card .card-image-container .cardItem img{
    width: 100%;
    height: 250px;
    /* border-radius: 10px; */
}

.card .card-image-container .cardItem .cardDesc{
    font-family: var(--secondary-font);
    padding: 15px;
    line-height: 20px;
    font-size: 13px;
}