.GalleryPage {
    text-align: center;
    padding: 15vh 5vw 15vh 5vw;
    font-family: var(--primary-font);
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}.GalleryPage h1 {
    color: var(--purple);
    font-size: 45px;
}
.GalleryPage .image-container {
    display: flex;
    column-gap: 30px;  
    row-gap: 40px;  
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 25%;
}
.GalleryPage .image-container .item{
    border: 1px solid #ccc;
    padding: 6px 6px;
    /* min-width: 300px; */
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 128, 0, 0.123) 0px 0px 0px 1px;


}
.GalleryPage .image-container .item img{
    width: 100%;
    height: 250px;
    /* border-radius: 10px; */
}

.GalleryPage .image-container .desc{
    font-family: var(--secondary-font);
    padding: 15px;
    line-height: 20px;
    font-size: 13px;
}