* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --purple: #8E7ADA;
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --ternary-color: #142D59;
  --forth-color: #3570FC;
  --gray: #4F4F4F;
  --primary-font: "Poppins",  Arial, Helvetica, sans-serif;;
  --secondary-font: "Montserrat", cursive;

}
html {
  scroll-behavior: smooth;
}

main {
  /* font-family: Arial, Helvetica, sans-serif; */
    /* overflow-x: hidden; */
    /* width: 100vw; */
    /* outline: 3px solid red; */
}
